.container{
    padding: auto;
    margin: 2rem 2rem 2rem 2rem;
}


.cards img{
    width: 320px;
    height: 200px;
    object-fit: cover;   
    border-radius: 8px 8px 0 0;
}

.cards {
    width: 320px;
    height: 390px;
    background-color: var(--white-bg-color-500);
    border-radius: 8px;
    flex-direction: column-reverse;          /* Organiza os itens verticalmente */
    align-items: center;             /* Centraliza o título horizontalmente */
    justify-content: center;         /* Centraliza o título verticalmente */
}

.descricao {
    font-size: 14px;
    font-weight: normal;
    color: var(--gray-bg-color-500);
    align-items: center;
    justify-content: center; 
    text-align: justify;
    padding-left: 0.50rem;  /* Adiciona padding apenas no lado esquerdo */
    padding-right: 0.50rem; /* Adiciona padding apenas no lado direito */
}

.titulo {
    font-size: 16px;
    color: black;
    text-align: center;              /* Centraliza o texto horizontalmente */
    margin-bottom: 1rem;             /* Espaçamento abaixo do título */
    text-decoration: none;
}

.topo {
    color: var(--red-bg-color-500);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;           /* Alinha o texto do h1 ao centro */
    margin-bottom: 2rem;          /* Adiciona margem para espaçar do conteúdo abaixo */
    width: 300px;                 /* Define a largura do h1 para se alinhar com os cards */
}

.footer {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 1024px) {
    .container{
        padding: auto;
        margin: 2rem 2rem 2rem 2rem;
    }

    .topo {
        
        color: var(--red-bg-color-500);
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;           /* Alinha o texto do h1 ao centro */
        margin-top: 6rem;          /* Adiciona margem para espaçar do conteúdo abaixo */
        margin-bottom: 0.50rem;
        width: 300px;                 /* Define a largura do h1 para se alinhar com os cards */
    }

    .cards {
        width: 100%;
        height: 100vh;
        background-color: var(--white-bg-color-500);
        border-radius: 8px 8px 8px 8px ;
        margin-left:2rem;
        flex-direction: column;      
        align-items: center;        
        justify-content: center;
    }

    .cards img {
        width: 100%;
        height: 200px;
        object-fit: cover;   
        border-radius: 8px 8px 0 0;
    }

    .titulo {
        font-size: 20px;
        color: black;
        text-align: center;              /* Centraliza o texto horizontalmente */
        margin-bottom: 1rem;             /* Espaçamento abaixo do título */
        text-decoration: none;
        font-weight: bolder;
    }

    .descricao {
        font-size: 16px;
        font-weight: 400;
        color: var(--gray-bg-color-500);
        align-items: center;
        justify-content: center; 
        text-align: center;
        padding-left: 1rem;  /* Adiciona padding apenas no lado esquerdo */
        padding-right: 1rem; /* Adiciona padding apenas no lado direito */
    }

    .footer{
        color: black;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: auto;
    }


}


@media (max-width:600px) {
    .container{
        padding: auto;
        margin: 2rem 2rem 2rem 2rem;
    }
    .containerCards {
        width: 100%;
        padding: 0;
        margin:0;
        align-items: center;
        justify-content: center;
    }

    .topo {
        color: var(--red-bg-color-500);
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;           /* Alinha o texto do h1 ao centro */
        margin-top: 6rem;          /* Adiciona margem para espaçar do conteúdo abaixo */
        margin-bottom: 0.50rem;
        width: 300px;                 /* Define a largura do h1 para se alinhar com os cards */
    }

    .cards {
        width: 100%;
        height: 300px;
        background-color: var(--white-bg-color-500);
        border-radius: 8px 8px 8px 8px ;
        display: flex;               
        margin-left:2rem;
        flex-direction: column;      
        align-items: center;        
        justify-content: center;
        padding: 0;
    }

    /* Ocultar outros cards quando a tela for pequena, exibindo apenas o primeiro */
    .container .cards:not(:first-child) {
        display: none;  /* Oculta os cards que não são o primeiro */
    }

    .cards img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    .titulo {
        font-size: 14px;
        color: black;
        text-align: center;              /* Centraliza o texto horizontalmente */
        margin-bottom: 1rem;             /* Espaçamento abaixo do título */
        text-decoration: none;
    }

    .descricao {
        font-size: 12px;
        font-weight: normal;
        color: var(--gray-bg-color-500);
        align-items: center;
        justify-content: center; 
        text-align: justify;
        padding-left: 1rem;  /* Adiciona padding apenas no lado esquerdo */
        padding-right: 1rem; /* Adiciona padding apenas no lado direito */
    }

    
    .footerCards {
        display: none;
    }
}