.container {
    width: 100%;
    height: 3rem;
    margin-top: 3rem; /* centraliza horizontalmente */
    display: flex;
    justify-content: center; /* centraliza o conteúdo horizontalmente */
    align-items: center; /* centraliza o conteúdo verticalmente */
    gap: 6.25rem; /* distância entre os itens */

}

.botao{
    display: flex;
    width: 174px;
    height: 38px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: var(--red-bg-color-500);  
    border-radius: 8px;
    background-color: var(--white-bg-color-500);
    border:none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.botao:hover{
    color: var(--white-bg-color-500);
    background-color: var(--red-bg-color-500);
    transition: 0.5s;
}

@media (max-width:768px) {
    .container{
         display: none;}
}

